.wrapper {
  width: 100%;
  margin: 0 auto;
}

.header { 
  text-align: center;
  text-transform: uppercase;
}

.sub-header { 
  text-align: center;
}

.container {
  margin: 0 16px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: $tablet-width) {
  .container {
    max-width: 80vw;
    margin: 0 auto;
  }

  .list__item {
    > div {
      width: 33.3%;
    }
  }
}
