/* Buttons */
.btn {
  text-transform: uppercase;
  color: #FFF;
  background-color: #0f9dce;
  border-radius: 4px;
  text-decoration: none;
  padding: 14px 35px 11px;
  display: inline-block;
}

/* List */
.list {
  padding-bottom: 30px;

  .list-header {
    color: #FFF;
    border: $list-border;
    border-top-left-radius: $list-border-radius;
    border-top-right-radius: $list-border-radius;
    background-color: #0f9dce;
    padding: 20px;
    @include flex-row();
  }

  .list-item {
    background-color: #fff;
    border-right: $list-border;
    border-left: $list-border;
    padding: 20px;
    @include flex-row();

    & + .list-item {
      border-top: $list-border;
    }

    &:last-child {
      border-bottom: $list-border;
    }
  }
}

/* Champions */
.champions-list {
  padding: 0;
  list-style: none;
  max-width: 100vw;
  margin: 0 auto;

  .list-item:not(:nth-child(1)) {
    &:hover {
      cursor: pointer;
      background-color: #eee;
    }
    div:nth-child(2) {
      font-weight: bold;
    }
  }
}

/* Race winners */
.race-winners-list {
  padding: 0;
  list-style: none;
  max-width: 100vw;
  margin: 20px auto 0;

  .list-item {
    > div {
      span {
        color: #999;
        display: block;
        font-size: 0.8em;
        margin-bottom: 4px;
      }
    }

    &:first-child {
      border: $list-border;
      border-top-left-radius: $list-border-radius;
      border-top-right-radius: $list-border-radius;
    }

    &.champion {
      background-color: rgba(255, 224, 0, 0.28);
      div:nth-child(3) {
        font-weight: bold;
      }
    }
  }
}

/* Loader */
.loader-wrapper {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  margin-top: 30px;

  .loader {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: $tablet-width) {
  .list-item, .list-header {
    > div {
      width: 33.3%;
    }
  }
}
