<div>
  <div class="sub-header">
    <h2>All world champions from 2005 to 2015</h2>
  </div>
  <div class="home-list">
    <ul class="list champions-list">
      <li class="list-header">
        <div>Season</div>
        <div class="champions-item-name">Driver</div>
        <div>Points</div>
      </li>
      <li ng-if="!standings">
        <loader></loader>
      </li>
      <li class="list-item" ng-repeat="status in standings" ng-click="showSeasonWinners(status.season)">
        <div>{{status.season}}</div>
        <div>{{status.DriverStandings[0].Driver.givenName}} {{status.DriverStandings[0].Driver.familyName}}</div>
        <div>{{status.DriverStandings[0].points}}</div>
      </li>
    </ul>
  </div>
  <div>
