<div class="sub-header">
  <h2>{{season}} Season Winners</h2>
</div>
<a ui-sref="home" class="btn">Back to Home</a> 
<ul class="list race-winners-list">
  <li ng-if="!winners">
    <loader></loader>
  </li>

  <li class="list-item" ng-class="{'champion': race.Results[0].Driver.driverId == champion.driverId}" ng-repeat="race in winners">
    <div><span>Round</span>{{race.round}}</div>
    <div class="race-winners-list-race"><span>Race</span>{{race.raceName}}</div>
    <div class="race-winners-list-driver"><span>Driver</span>{{race.Results[0].Driver.givenName}} {{race.Results[0].Driver.familyName}}</div>
    <div><span>Points</span>{{race.Results[0].points}}</div>
  </li>
</ul>
